{% extends 'mainpage/header_footer.html' %}
{% block content %}
<h1 class = 'new'> Список дел на {{kogda}} </h1> 
<article>
    <ol class = 'new_2'>
    {% for task in tasks %}
        <li >
            {% if task.done %}
                <s>{{task.description}}</s>
            {% else %}
                <b>{{task.description}}</b>
            {% endif %}
        </li>
    {% endfor %}
    </ol>
</article>
<a class = 'zadacha' href="{% url 'new_task' %}">Форма выполнения задачи</a>
<p><a class = 'cat' href="{% url 'new_cat' %}">Карточка кошки</a></p>
{% endblock %}