{% extends 'plants/layout.html' %}
{% block content %}
<div>
 <h1>Стоимость доставки</h1>
 <p>{{dostavochka}}</p>
 <p>{{noch}}</p>
 <p>{{oblast}}</p>
</div>
<div>
 <h1>Время доставки</h1>
<p>Будние дни с 10.00 до 18.30</p>
</div>
<div>
<h1>Вечернее время и выходные дни:</h1>
<ul>
    <li>Для растений до 120 см – сторонней службой по тарифам компании перевозчика (Яндекс доставка, транспортные компании)</li>
    <li>Для растений выше 120 см - 790 ₽ по Москве, 790 ₽ +35 ₽, за МКАД (согласовывается заранее).</li>
</ul>
</div>
<div>
    <h2>Сроки доставки</h2>
    <p>Если растение в наличии:</p>
    <ul>
        <li>Москва – 1-3 рабочих дня;</li>
        <li>За МКАД – 8-12 рабочих дней.</li>
    </ul>
    <h3>Сроки доставки рассчитываются с момента внесения оплаты/предоплаты по заказу.</h3>
</div>
{% endblock %} 