<div class='menu_item'>
    <a  href = "{% url 'about_us' %}"> О нас </a>
    <a  href = "{% url 'contacts' %}">Контакты</a>
    <a  href = "{% url 'information' %}">Информация</a>
    <a  href = "{% url 'dostavka_oplata' %}">Доставка и оплата</a>
    <a  href = "{% url 'ask_and_answer' %}">Вопросы и ответы</a>
    <a  href = "{% url 'blog' %}">Блог</a>
    <a  href = "{% url 'otzivy' %}">Отзывы</a>
</div>
<div class='search'>
    <a class="main"  href = "{% url 'index' %}">Tropical house</a>
    <input  class="find" type="text" placeholder="Поиск.." name="search">
    <a  href = "{% url 'korzina' %}">Корзина</a>
</div>
<div class='rastenie'>
    <a class='ssilka_rastenie' href = "{% url 'room_plant' %}">Комнатные растения</a>
    <a class='ssilka_rastenie' href = "{% url 'sovets' %}">Советы</a>
    <a class='ssilka_rastenie' href = "{% url 'stocks' %}">Акции</a>
</div>


